button {
  width: 250px;
  height: 100px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #faf5e4;
  border: 2px solid #faf5e4;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #efd5b7;
}

.boton-click {
  background-color: #e95151;
}

.boton-reiniciar {
  background-color: #e5be52;
}