.contador {
  min-width: 300px;
  height: 300px;
  font-size: 160px;
  padding: 25px;
  color: #faf5e4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #faf5e4;
  margin-bottom: 15px;
}